.container {
  background: #f9f9f9;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  padding: 30px;
  width: 72%;
  align-content: flex-start;
  position: absolute;
  right: 0px;
  z-index: 1;
  height: 100vh;
}

.containerExpanded {
  padding: 0px;
  width: 100%;
}

.noTimers {
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: absolute;
  align-items: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
}

.noTimerSubMessage {
  font-size: 14px;
}

.noTimerMessage {
  font-weight: 500;
  margin-bottom: 10px;
  font-size: 25px;
}

.noTimersIcon {
  font-size: 50px !important;
}
