.container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: #ecf5f9;
  height: 100vh;
  width: 24.9%;
  position: fixed;
  z-index: 2;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}

.containerHidden {
  display: none;
}

.navTop,
.navBottom {
  margin: 15px;
  cursor: pointer;
  display: flex;
  flex-direction: row;
  padding-left: 10px;
}

.selected {
  background-color: #e8e8e8;
  margin: 12px 3px 12px 0px;
  padding: 8px 12px;
  border-radius: 3px;
}

.appTitle {
  cursor: auto;
}

.iconText {
  margin-left: 20px;
}

.selected > svg {
  border-left: 3px solid #1876bf;
  padding-left: 10px;
}

.selected > svg::after {
  height: 50%;
}
