.singleTimerTime {
  text-align: center;
  font-size: 35px;
  font-weight: 600;
  color: dimgrey;
}

.singleTimerTime span {
  width: 200px !important; 
  height: 200px !important; 
  color: #1869a6 !important;
}